.underline-red {
    text-decoration: underline;
    text-decoration-color: #fff;
    text-decoration-thickness: 5px; 
    text-underline-offset: 8px; 
  }
/* Add this to your TedX.css file */
.fullscreen-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the container takes at least the full viewport height */
}
