/* Container for HeaderImg component */
.ted-relative1 {
  width: 100%;
  height: 100vh; /* Ensures the container takes up the full viewport height */
  position: relative;
  overflow: hidden; /* Prevents overflow of child elements */
  background-color: black; /* Background color for the container */
}

/* Styles for images within the HeaderImg component */
.ted-relative1 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures images cover the container area */
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 0); /* Resets any potential translation */
  z-index: 1; /* Places images above the background */
  transition: opacity 1s ease; /* Smooth transition for image opacity */
}

/* Styles for clip paths */
.ted-relative1 .clipPath {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 1.2s ease, opacity 1s ease;
  z-index: 2; /* Places clip paths above the images */
}

/* Specific clip path transformations */
.clipPath.translate-x-[16%] {
  transform: translateX(16%) scale(10);
}

.clipPath.translate-x-[-30%] {
  transform: translateX(-30%) scale(15);
}

.clipPath.translate-x-[260%] {
  transform: translateX(260%) scale(16);
}

.clipPath.translate-x-[-660%] {
  transform: translateX(-660%) translateY(-250%) scale(25);
}
